h1{
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

}

.box img {
height:550px;
width: 740px;
padding-left: 20px;
}

.box{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 10px; 
}